<!DOCTYPE html>
<html>
  <head>
    <title>Turma 9 A itaú</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Aula de CI</h1>
    <p>Bem vindo de volta</p>
  </body>
</html>
